.cajapink {
	background-color: #ee3e64;
	width: 200px;
	height: 200px;
	position: relative; 
	
}

.cajablue {
	background-color: #44accf;
	width: 200px;
	height: 200px;
	position: absolute; 
	left: 200px;
	
}

.cajagreen {
	background-color: #b7d84b;
	width: 200px;
	height: 200px;
	position: relative; 
	
}

.cajayellow {
	background-color: yellow;
	width: 200px;
	height: 200px;
	position: relative; 
	
}

body {
	margin: 0px;
	padding: 0px;
}